#! /usr/bin/env bash

# source python virtualenv in .venv folder
source .venv/bin/activate

# load env variables from .env file
if [ -f .env ]; then
    export $(cat .env | sed 's/#.*//g' | xargs)
fi
